.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f7f7f7;
  }
  
  .hero__image {
    flex-basis: 50%;
  }
  
  .hero__image img {
    width: 75%;
    height: 75%;
    display: block;
  }
  
  .hero__content {
    flex-basis: 50%;
    text-align: center;
  }
  
  .hero__title {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero__description {
    font-size: 1.5rem;
    color: #666;
    line-height: 1.5;
  }
  